<div class="container">
  <h3>Create a new user:</h3>
  <form class="mb-3" method="POST" action="/users/create">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control w-50" id="email" name="email" required>
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control w-50" id="username" name="username" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control w-50" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <h3 class="mt-5">List of users</h3>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Email</th>
        <th scope="col">Username</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% users.map(user => { %>
      <tr>
        <th scope="row"><%= user.id %></th>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td>
          <form action="/users/editPage/<%= user.id %>" class="d-inline-block">
            <button type="submit" class="btn btn-warning">Edit</button>
          </form>
          <form action="/users/delete/<%= user.id %>?_method=DELETE" method="POST" class="d-inline-block">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>